<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPT | Instituto de Pesquisas Tecnológicas</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <!-- Custom fonts for this template -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/page.css">
    <link rel="icon" href="../images/logo_ipt.gif">
</head>

<body>
    <div class="black">
        <div class="form">
            <div class="">
                <div class="seletion-group">
                    <div>
                        <label class="title">Dobot Wifi 1</label>
                        <label class="sub-title">192.168.111.11</label>
                    </div>
                    <div>
                        <button class="btn">Conectar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>     
</html>