<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IPT | Instituto de Pesquisas Tecnológicas</title>

    <!-- Custom fonts for this template -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link
      rel="icon"
      href="{{ url_for('static', filename = 'images/icon-ipt.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'dashboard.style.css') }}"
    />
  </head>

  <body>
    <div class="flex" style="display: flex; flex-direction: row;">
      <div>
        <img class="logo" src="../static/images/logo_ipt.png" alt="logo ipt" />
      </div>
      <div class="set-down">
        <div class="form">
                <p class="title">Dados</p>
                <p class="sub-title">Selecione os dados que serão mostrados no dashboard</p>
                <div class="button-group">
                  <input type="submit" class="btn-add" onclick="loadChart('magnetic')" value="Campo Magnético">
                  <input type="submit" class="btn-add" onclick="loadChart('speed')" value="Velocidade de movimentação">
                  <input type="submit" class="btn-add" onclick="loadChart('mass')" value="Massa por ciclo">
                  <input type="submit" class="btn-add" onclick="loadChart('duration')" value="Tempo por ciclo">
                  <!-- <input type="submit" class="btn-add" onclick="loadChart('magnetic')" value="Altura até o fundo"> -->
                </div>
        </div>
      </div>
      
      <div class="dashboard">
          <canvas id="myChart"></canvas>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      var chart = null;

      function loadChart(information){

        console.log(information);
        if (chart != null) {
          chart.destroy();
        }

        const ctx = document.getElementById('myChart');

        var json = JSON.parse('{{ data|tojson|safe}}')
        var data = []
        var label = []
        for (let i = 0; i < json.length; i++) {
          label.push(json[i].label)
          data.push(json[i][information])
        }

        // console.log(data, label)

        chart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: label,
            datasets: [{
              label: '{{ title }}',
              data: data,
              borderWidth: 1
            }]
          },
          options: {
            aspectRatio: 2,
            
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

      }
    </script>
  </body>
</html>
