<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPT | Instituto de Pesquisas Tecnológicas</title>

    <!-- Custom fonts for this template -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="icon" href="{{ url_for('static', filename = 'images/icon-ipt.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
</head>

<body>
    <div class="flex">
        <div>
            <img class="logo" src="../static/images/Logo_ipt.png" alt="logo ipt">
            <img class="arm" src="../static/images/braco_mecanico.png" alt="Braço robótico">
        </div>
        <div class="form">
            <p class="title" style="text-align: center;">Conexão de Rede</p>
            <p class="sub-title" style="text-align: center;">Endereço IP</p>
            <div class="">
                <div class="seletion-group">
                    <div class="container-net">
                        <p class="title">Dobot Wifi 1</p>
                        <p class="sub-title">192.168.111.11</p>
                    </div>
                    <div class="container-btn">
                        <button class="btn">Conectar</button>
                    </div>
                </div>
                <div class="seletion-group">
                    <div class="container-net">
                        <p class="title">Rede 2</p>
                        <p class="sub-title">192.168.111.11</p>
                    </div>
                    <div class="container-btn">
                        <button class="btn">Conectar</button>
                    </div>
                </div>
                <div class="seletion-group">
                    <div class="container-net">
                        <p class="title">Wifi</p>
                        <p class="sub-title">192.168.111.11</p>
                    </div>
                    <div class="container-btn">
                        <button class="btn">Conectar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>     
</html>