<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IPT | Instituto de Pesquisas Tecnológicas</title>

    <!-- Custom fonts for this template -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link
      rel="icon"
      href="{{ url_for('static', filename = 'images/icon-ipt.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'iniciate.style.css') }}"
    />
    <!-- <link rel="stylesheet" href="/src/backend/static/iniciate.style.css"> -->
  </head>

  <body>
    <div class="flex">
      <div>
        <img class="logo" src="../static/images/Logo_ipt.png" alt="logo ipt" />
        <img
          class="arm"
          src="../static/images/braco_mecanico.png"
          alt="Braço robótico"
        />
      </div>
      <div class="form">
        <div class="container-btn">
          <button onclick="changeDobotStatus(this)" class="btn-off">
            Iniciar rotina
          </button>
        </div>
        <p id="error">Error</p>
        <div class="dobot">
          <div class="seletion-group">
            <div class="">
              <p class="title">Dobot Magician Lite</p>
              <p class="sub-title">Flask app v1.4</p>
        <div class="form">
            <div class="container-btn">
                    <a href="/end" onclick="changeClass()" class="btn-init" id="btn">Iniciar rotina</a>
                <!-- <script>
                    function changeClass() {
                        var button = document.getElementById("btn");
                        console.log(button);
                        // if (button.first().hasClass('btn-init')){
                        //     button.removeClass("btn-init").addClass("btn-end");
                        // }
                        // else{
                        //     button.removeClass("btn-end").addClass("btn-init");
                        // }
                    }
                </script> -->
            </div>
            <div class="dobot">
                <div class="seletion-group">
                    <div class="">
                        <p class="title">Dobot Magician Lite</p>
                        <p class="sub-title">Flask app v1.4</p>
                        <div class="slider">
                            <label for="fader">Ímã</label>
                            <input type="range" min="0" max="3" value="0" id="fader"oninput="rangeValue.innerText = this.value">
                            <p id="rangeValue">0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="report">
                <a href="/report" class="report-btn">
                    <div class="report-text">
                        Inserir relatório
                    </div>
                    <div class="report-img">
                        <img class="next" src="../static/images/right-arrow.png">
                    </div>
                </a>
            </div>
          </div>
        </div>
        <div class="report">
          <a href="/report" class="report-btn">
            <div class="report-text">Inserir relatório</div>
            <div class="report-img">
              <img class="next" src="../static/images/right-arrow.png" />
            </div>
          </a>
        </div>
      </div>
    </div>
    <script>
      const URL = "http://127.0.0.1:3000/";
      function changeDobotStatus(button) {
        if (button.className == "btn-off") {
          fetch(URL + "on")
            .then(function (data) {
              document.getElementById("error").style.display = "none";
              
              button.className = "btn-on";
              button.innerHTML = "Parar";
            })
            .catch(function (err) {
                document.getElementById("error").style.display = "block";
                document.getElementById("error").innerHTML +=" - "+ err;

              console.log("Fetch Error :-S", err);
            });
        } else {
          fetch(URL + "stop")
            .then(function (data) {
              document.getElementById("error").style.display = "none";

              button.className = "btn-off";
              button.innerHTML = "Iniciar Rotina";
            })
            .catch(function (err) {
                document.getElementById("error").innerHTML +=" - "+ err;

              console.log("Fetch Error :-S", err);
            });
        }
      }
    </script>
  </body>
</html>
