body{
    background: black;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 95%%;
    height: 70px;
    margin-left: 1%;
}

.arm{
    width: 45%;
    height: 500px;    
    position: absolute;
    left: 0;
    bottom: 0;
}

.form {
    width: 400px;
    height: 500px;
    border-radius: 25px;
    padding: 1.5rem;
    background: #161616;
    margin-top: 4%;
    margin-right: 3%;
}

.title{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: grid;
    place-items: left;
    color: #FFFFFF;
    margin-bottom: 4%;
    font-size: 24px;
}

.sub-title{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: grid;
    place-items: left;
    color: #ffffff79;
    margin-bottom: 10%;
}

.seletion-group{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    gap: 0.5rem;
    border-bottom: 1px solid #FFFFFF4D;
    margin: 5%;
}

.btn{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding: 0.35rem;
    display: block;
    text-decoration: none;
    background-color: #FFFFFF29;
    color: #FFFFFF;
    text-align: center;
    border-radius: 25px;
    border: none;
    width: 70%;
    margin-left: auto;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 6%;
}
/* .container-btn{
}
.container-net{
} */

.btn:hover{
    box-shadow: 0 0 0 2px #fff;
}